@media screen and (max-width:991px) {
    .nav-toggle{
        display: block;
        margin-right: 20px;
    }

    h3{
    font-size: 1.2rem;
}

    .nav-links{
        display: none;
    }

    .example-area{
        gap: 20px;
    }

    .example-cards{
        width: calc(50% - 10px);
        height: 180px;
    }

    .cta-section{
        padding-block: 80px;
    }
}

@media screen and (max-width:767px) {
    
    .primary-bt{
        width: 100%;
    }
    
    .header-section{
        flex-direction: column;
    }
    .header-left{
        max-width: 100vw;
        text-align: center;
    }

    .features-card{
        min-width: calc(50%-10px)
    }

    .big-feature-container{
        flex-direction: column;
    }

    .footer-container{
        flex-direction: column;
        gap: 40px;
        text-align: center;
        align-items: center;
    }

    .link-column{
        align-items: stretch;
    }
}

@media  screen and (max-width:479px) {
    .features-card{
        min-width: 100%;
    }

    .main-nav{
        overflow: initial;
    }

    .nav-toggle{
        display: block;
        margin-right: 20px;
    }
    .nav-links{
        position: absolute;
    }
    .nav-links ul{
        flex-direction: column;
    }

}